<section id="about">
  <br>
  <hr>
  <div class="col-lg-12 mx-auto" align="justify">
    <h2 class="text-blue" align="center">About Us</h2>
    <div class="mt-5 mb-4 pb-3">
      <p>
        Found in 2018, Furnhub is a furniture manufacturer 
        that focused in creating an easy and simple way for 
        buying furniture. Throughout this journey Furnhub 
        wants to bring the world of furniture and home 
        decoration closer to the society via education and 
        knowledge sharing which relevant to our customer.
      </p>
      <p>
        Furnhub’s goal is to be the platform that can unite 
        every elements in furniture and home decoration industry.
      </p>
      <br>
    </div>
  </div>
  <div class="col-lg-6 mx-auto" align="justify">
    <h3 class="text-blue" align="center">Vision</h3>
    <br>
    <div class="mt-5 mb-4 pb-3" align="center">
      <p>To provide a better option compared to the existing one.</p><br>
    </div>
  </div>
  <div class="col-lg-6 mx-auto" align="justify">
    <h3 class="text-blue" align="center">Mision</h3>
    <br>
    <div class="mt-5 mb-4 pb-3">
      <p>
        <ul>
          <li>Providing product options that accommodate the room needs well.</li>
          <li>providing a service system that facilitates the process of buying furniture.</li>
        </ul>
      </p>
      <br><br><br><br><br>
    </div>
  </div>
</section>