<section id="productservices">
  <br>
  <hr>
  <div class="col-lg-12 mx-auto" align="justify">
    <h2 class="text-blue" align="center">Product & Services</h2>
    <div class="mt-5 mb-4 pb-3">
    </div>
  </div>
  <div class="col-lg-6 mx-auto" align="justify">
    <h3 class="text-blue" align="center">Furniture Shopping</h3>
    <br>
    <div class="mt-5 mb-4 pb-3">
      <p>
        Our products are designed to fit and work properly for your needs. 
        We are deeply committed to provide the needed products to make 
        your life easier. Because we believe that furnitures are the one 
        that should work for you, not vice versa.
      </p>
      <p>
        Furnhub’s goal is to be the platform that can unite 
        every elements in furniture and home decoration industry.
      </p>
      <br><br>
    </div>
  </div>
  <div class="col-lg-6 mx-auto" align="justify">
    <h3 class="text-blue" align="center">Custom-made Furniture</h3>
    <br>
    <div class="mt-5 mb-4 pb-3">
      <p>
        Although we are already trying our best to provide furnitures that 
        suit you, we believe that won’t be enough. With this custom-made 
        furniture service, we provide a way for you to alter your furniture 
        even more so that it can suits you better. If human are all different 
        from one another, why do we have to limit your choice in furniture?
      </p>
      <p>
        Furnhub’s goal is to be the platform that can unite 
        every elements in furniture and home decoration industry.
      </p>
      <br>
    </div>
  </div>
  <div class="center">
    <a href="http://www.tokopedia.com/furnhub/" target="_blank">Store</a>
  </div>
  <br><br><br><br><br>
</section>