<section id="proposition">
  <br>
  <hr>
  <div class="col-lg-12 mx-auto" align="justify">
    <h2 class="text-blue" align="center">Proposition</h2>
    <div class="mt-5 mb-4 pb-3">
    </div>
  </div>
  <div class="col-lg-4 mx-auto" align="justify">
    <h3 class="text-blue" align="center">Delivery Service</h3>
    <br>
    <div class="mt-5 mb-4 pb-3">
    </div>
  </div>
  <div class="col-lg-4 mx-auto" align="justify">
    <h3 class="text-blue" align="center">Customizable</h3>
    <br>
    <div class="mt-5 mb-4 pb-3">
    </div>
  </div>
  <div class="col-lg-4 mx-auto" align="justify">
    <h3 class="text-blue" align="center">Good Value</h3>
    <br>
    <div class="mt-5 mb-4 pb-3">
    <br><br><br><br><br><br>
    </div>
  </div>
</section>