<section id="home">
  <div class="center">
    <br><br><br><br><br><br><br><br><br><br><br>
    <h1>Welcome to</h1>
    <%= image_tag("logo.png", alt: "Meja", :size => "500x130")%>
    <br>
    <h2>Buying furniture is incredibly <b>EASY</b></h2>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <%= render 'pages/about' %>
    <%= render 'pages/proposition' %>
    <%= render 'pages/productservices' %>
  </div>
  <hr>
  <br>
</section>
