<footer id="contact" class="bg-dark text-white">
  <div class="container">
    <div class="row">
      <div class="text-left text-sm-center table-center">
        <b>Contact Information</b>
        <table width="25%">
          <tr>
            <td>Email</td>
            <td>:</td>
            <td>furnhubid@gmail.com</td>
          </tr>
          <tr>
            <td>WhatsApp</td>
            <td>:</td>
            <td>+62-8231-3079-305</td>
          </tr>
          <tr>
            <td>Instagram</td>
            <td>:</td>
            <td><a href="http://www.instagram.com/furnhub.id/" target="_blank">furnhub.id</a></td>
          </tr>
        </table>
      </div>
      <p>© 2019 FurnHub</p>
    </div>
  </div>
</footer>
