<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <%#= link_to "FurnHub", root_path, id: "logo" %>
      <%= link_to image_tag("logo2.png", alt: "logo", :size => "130x45"), root_path %>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", root_path(:anchor => "about") %></li>
        <li><%= link_to "Proposition", root_path(:anchor => "proposition") %></li>
        <li><%= link_to "Product & Services", root_path(:anchor => "productservices") %></li>
        <li><a href="#contact">Contact Us</a></li>
      </ul>
    </nav>
  </div>
</header>
