<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
  </head>
  <body data-spy="scroll">
    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
    <div class="fixed">
      <%= link_to image_tag("WhatsApp.png", alt: "logo", :size => "100x100"), href="https://api.whatsapp.com/send?phone=6282313079305&text=&source=&data=", target: :_blank %>
    </div>
  </body>
</html>
